
.white{
    height: 60px;
    width: 200px;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid burlywood;
    margin: 20px;
}
.dark{
    height: 60px;
    width: 200px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid burlywood;
    margin: 20px;
}
p{
    font-size: larger;
    margin: 20px;
    
}

